fastapi==0.65.1
pydantic==1.8.2
uvicorn==0.14.0
orjson==3.7.7
starlette==0.14.2
pandas==1.5.1
pyyaml==6.0
dill==0.3.6
pytest==6.2.4
isort==5.8.0
pylint==2.8.3
mypy==0.812
flake8==3.9.2
scipy==0.16
implicit=0.6.2
dill=0.3.6
service=0.6.0
gdown=4.6.0
tqdm=4.64.1
prometheus-fastapi-instrumentator=6.0.0
